extends ./layout.jade

block content
  h2= question.text
  p
    a(href='/course/' + question.CourseId) Back to course
  p
    a(href='/course/' + question.CourseId + '/question/' + question.id + '/edit') Edit
  h3 Responses
  ul
    if question.aText
      li #{question.aText} (#{counts.A || 0}) #{question.correctAnswer === 'A' ? '(correct answer)' : ''}
    if question.bText
      li #{question.bText} (#{counts.B || 0}) #{question.correctAnswer === 'B' ? '(correct answer)' : ''}
    if question.cText
      li #{question.cText} (#{counts.C || 0}) #{question.correctAnswer === 'C' ? '(correct answer)' : ''}
    if question.dText
      li #{question.dText} (#{counts.D || 0}) #{question.correctAnswer === 'D' ? '(correct answer)' : ''}
    if question.eText
      li #{question.eText} (#{counts.E || 0}) #{question.correctAnswer === 'E' ? '(correct answer)' : ''}
